<div class="container-fluid p-0">
  <div class="row">
    <div class="container-form">
      <main class="form-signin m-auto swing-in-top-fwd-auth">
        <form [formGroup]="myRegisterForm">
          <div class="text-center">
            <mat-icon class="icon-login">how_to_reg</mat-icon>

            <h1 class="h4 mb-4 fw-normal">Sign Up</h1>

          </div>

          <div class="row mb-4">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 div-signup">
              <div class="form-floating">
                <input type="text" class="form-control floatEmail" formControlName="firstName" id="floatEmail" placeholder="First name">
                <label for="floatEmail">First name</label>
              </div>

              <div class="form-floating">
                <input type="text" class="form-control floatName" formControlName="userName" id="floatInput" placeholder="User Name">
                <label for="floatInput">User Name</label>
              </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 div-signup">
              <div class="form-floating">
                <input type="text" class="form-control floatName" formControlName="lastName" id="floatInput" placeholder="Last Name">
                <label for="floatInput">Last Name</label>
              </div>
              <div class="form-floating">
                <input type="email" class="form-control floatEmail" formControlName="email" id="floatEmail" placeholder="Email">
                <label for="floatEmail">Email</label>
              </div>




            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 div-signup">
              <div class="form-floating">
                <input type="password" formControlName="password" class="form-control floatPassword" id="floatPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

             
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 div-signup">
              <div class="form-floating">
                <input type="password" class="form-control floatRepeatPassword" id="floatRepeatPassword"
                  placeholder="Repeat Password">
                <label for="floatRepeatPassword">Repeat Password</label>
              </div>
            </div>


          </div>


          <button (click)="register()" class="w-100 btn btn-lg btn-primary btn-submit" type="submit">Create Account</button>
          <div class="link-reset">
            <p>Already have an account ? <a routerLink="../login"> Sign in </a></p>
          </div>
          <!--<p class="mt-4 mb-1 text-muted text-center">&copy; Tanitlab 2022</p>-->
        </form>
      </main>
    </div>
  </div>

</div>